# Use **/*.* since if a directory is ignored, children of that directory *cannot* be unignored using ! again.
.idea/**/*.*
!.idea/icon.svg
!.idea/dictionaries/default_user.xml
!.idea/scopes/Mixins.xml
!.idea/liveTemplates/SkyHanni.xml
.vscode/
run/
build/
bin/

# gradle
build
gradle.properties
.gradle

# other
.DS_STORE

.devauth/*
!.devauth/config.toml
.kotlin
